.nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 30px;
  background-color: #111;
  z-index: 1;

  /* animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  width: 200px;
  object-fit: contain;
}
